{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=WP25G20;User Id=sa;Password=YourStrongPassword123;TrustServerCertificate=True;Encrypt=False;MultipleActiveResultSets=True;Connection Timeout=60;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
